{% extends "base.njk" %}

{% block title %}Главная{% endblock %}

{% block content %}
	<div class="text-center">
		<h1 class="py-8 sm:text-4xl text-3xl text-accent font-bold text-center">Сведения об образовательной организации</h2>
	</div>
	<div id="rel1" class="scroll-mt-12 hero h-auto py-6">
		<div class="hero-content flex-col lg:flex-row">
			<img src="/img/2.jpg" class="w-full lg:w-2/5 rounded-lg shadow-2xl" />
			<div class="w-full lg:w-3/5">
				<h2 class="sm:text-3xl text-2xl text-accent font-bold text-center">Основные сведения</h2>
				<p class="py-6">Полное наименование: ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ЕДИНСТВО"<br/>
					Сокращенное наименование: ООО "ЕДИНСТВО"<br/>
					Дата создания образовательной организации: 03.05.2023<br/>
					Учредителем компании является: Пономарев Алексей Александрович<br/>
					Место нахождения организации: 119361, Г.Москва, ВН.ТЕР.Г. МУНИЦИПАЛЬНЫЙ ОКРУГ ОЧАКОВО-МАТВЕЕВСКОЕ, УЛ ОЗЁРНАЯ, Д. 4, К. 1, ПОМЕЩ. 6/1<br/>
					Место осуществления образовательной деятельности: г. Москва, вн. тер. г. муниципальный округ Очаково–Матвеевское, улица Озёрная, дом 4, корпус 1, помещение 6/1, этаж 1, помещение XIV, комнаты № 1-9<br/>
					Телефон: 8-925-637-34-99<br/>
					Email: Alexponomarev1989@yandex.ru<br/>
					Режим/график работы: пн-пт 17:00-21:00, сб-вс 15:00-21:00<br/>
					Филиалы: ОБЩЕСТВО С ОГРАНИЧЕННОЙ<br/>
					ОТВЕТСТВЕННОСТЬЮ "ЕДИНСТВО" филиалов не имеет<br/>
					ОГРН 1237700326632<br/>
					ИНН 9729346028<br/>
					КПП 772901001<br/>
					Адрес сайта: <br/>
				</p>
			</div>
		</div>
	</div>
	<div class="hero h-auto py-6 px-[2%] max-w-5xl mx-auto">
		<div class="hero-content">
			<div>
				<h2 class="sm:text-3xl text-2xl text-accent font-bold text-center">Структура и органы управления образовательной организацией</h2>
				<p class="py-6">Учредителем организации является: Пономарев Алексей Александрович<br/>
					Место нахождения организации: 119361, Г.Москва, ВН.ТЕР.Г. МУНИЦИПАЛЬНЫЙ ОКРУГ ОЧАКОВО-МАТВЕЕВСКОЕ, УЛ ОЗЁРНАЯ, Д. 4, К. 1, ПОМЕЩ. 6/1<br/>
					Телефон: 8-925-637-34-99<br/>
					Email: Alexponomarev1989@yandex.ru<br/>
					Единоличным исполнительным органом управления организации является: генеральный директор Пономарев Алексей Александрович<br/>
					Коллегиальными органами управления организации является: коллегиального органа управления нет
				</p>
			</div>
		</div>
	</div>
	<div class="hero h-auto py-6 px-[2%] max-w-5xl mx-auto">
		<div class="hero-content">
			<div id="rel2" class="scroll-mt-20">
				<h2 class="sm:text-3xl text-2xl text-accent font-bold text-center">Документы</h2>
				<p class="py-6">Раздел будет приведен в соответствие с требованиями Приказа Федеральной службы по надзору в сфере образования и науки РФ от 14 августа 2020 г. N 831 "Об утверждении Требований к структуре официального сайта образовательной организации в информационно-телекоммуникационной сети "Интернет" и формату представления информации" после получения лицензии на осуществление образовательной деятельности.</p>
			</div>
		</div>
	</div>
	<div class="hero h-auto py-6 px-[2%] max-w-5xl mx-auto">
		<div class="hero-content">
			<div>
				<h2 class="sm:text-3xl text-2xl text-accent font-bold text-center">Образование</h2>
				<h5>Реализуемые программы:</h5>
				<p class="py-6">1. Дополнительная профессиональная программа повышения квалификации<br/>
					Вид – дополнительное образование<br/>
					Подвид – дополнительное профессиональное образование<br/>
					Адаптированные образовательные программы не реализуются<br/>
					Форма обучения – очная<br/>
					Язык образования – русский язык<br/>
					Нормативный срок обучения устанавливается образовательной программой<br/>
					Общая численность обучающихся - 0 человек.<br/>
					Численность обучающихся по реализуемым образовательным программам за счет  бюджетных ассигнований, федерального бюджета, бюджетов субъектов РФ, местных бюджетов - 0 человек<br/>
					Численность обучающихся по договорам об образовании, заключенных при приеме на обучение за счет средств физических и (или) юридических лиц за период 2023 год - 0 человек.<br/>
					Численность обучающихся являющихся иностранными гражданами - 0 человек<br/>
					Лица с ограниченными возможностями здоровья отсутствуют, не обучаются<br/>
				</p>
			</div>
		</div>
	</div>
	<div class="hero h-auto py-6 px-[2%] max-w-5xl mx-auto">
		<div class="hero-content">
			<div id="rel3" class="scroll-mt-20">
				<h2 class="sm:text-3xl text-2xl text-accent font-bold text-center">Краткое описание программы:</h2>
				<p class="py-6">Образовательная программа представляет собой комплекс основных характеристик образования (объем, содержание, планируемые результаты), организационно-педагогических условий и форм аттестации, который представлен в виде:</p>
				<ul class="list-disc pl-8">
					<li>Учебного плана</li>
					<li>Учебно-тематического плана</li>
					<li>Пояснительной записки</li>
					<li>Рабочей программы</li>
					<li>Календарного учебного графика</li>
					<li>Оценочных материалов (билеты, тесты и т. д.)</li>
					<li>Учебно-методических материалов (учебники, раздаточные материалы, методические указания, плакаты, слайды, интернет-ресурсы).</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="hero h-auto py-6 px-[2%] max-w-5xl mx-auto">
		<div class="hero-content">
			<div>
				<h2 class="sm:text-3xl text-2xl text-accent font-bold text-center">Образовательные стандарты</h2>
				<p class="py-6">Раздел будет приведен в соответствие с требованиями Приказа Федеральной службы по надзору в сфере образования и науки РФ от 14 августа 2020 г. N 831 "Об утверждении Требований к структуре официального сайта образовательной организации в информационно-телекоммуникационной сети "Интернет" и формату представления информации" после получения лицензии на осуществление образовательной деятельности.</p>
			</div>
		</div>
	</div>
	<div class="hero h-auto py-6 px-[2%] max-w-5xl mx-auto">
		<div class="hero-content">
			<div id="rel4" class="scroll-mt-20">
				<h2 class="sm:text-3xl text-2xl text-accent font-bold text-center">Руководство. Педагогический (научно-педагогический) состав</h2>
				<p class="py-6">Раздел будет приведен в соответствие с требованиями Приказа Федеральной службы по надзору в сфере образования и науки РФ от 14 августа 2020 г. N 831 "Об утверждении Требований к структуре официального сайта образовательной организации в информационно-телекоммуникационной сети "Интернет" и формату представления информации" после получения лицензии на осуществление образовательной деятельности.</p>
			</div>
		</div>
	</div>
	<div class="hero h-auto py-6 px-[2%] max-w-5xl mx-auto">
		<div class="hero-content">
			<div>
				<h2 class="sm:text-3xl text-2xl text-accent font-bold text-center">Материально-техническое обеспечение и оснащенность образовательного процесса</h2>
				<p class="py-6">Раздел будет приведен в соответствие с требованиями Приказа Федеральной службы по надзору в сфере образования и науки РФ от 14 августа 2020 г. N 831 "Об утверждении Требований к структуре официального сайта образовательной организации в информационно-телекоммуникационной сети "Интернет" и формату представления информации" после получения лицензии на осуществление образовательной деятельности.</p>
			</div>
		</div>
	</div>
	<div class="hero h-auto py-6 px-[2%] max-w-5xl mx-auto">
		<div class="hero-content">
			<div>
				<h2 class="sm:text-3xl text-2xl text-accent font-bold text-center">Стипендии и иные виды материальной поддержки обучающихся</h2>
				<p class="py-6">Раздел будет приведен в соответствие с требованиями Приказа Федеральной службы по надзору в сфере образования и науки РФ от 14 августа 2020 г. N 831 "Об утверждении Требований к структуре официального сайта образовательной организации в информационно-телекоммуникационной сети "Интернет" и формату представления информации" после получения лицензии на осуществление образовательной деятельности.</p>
			</div>
		</div>
	</div>
	<div class="hero h-auto py-6 px-[2%] max-w-5xl mx-auto">
		<div class="hero-content">
			<div>
				<h2 class="sm:text-3xl text-2xl text-accent font-bold text-center">Платные образовательные услуги</h2>
				<p class="py-6">Раздел будет приведен в соответствие с требованиями Приказа Федеральной службы по надзору в сфере образования и науки РФ от 14 августа 2020 г. N 831 "Об утверждении Требований к структуре официального сайта образовательной организации в информационно-телекоммуникационной сети "Интернет" и формату представления информации" после получения лицензии на осуществление образовательной деятельности.</p>
			</div>
		</div>
	</div>
	<div class="hero h-auto py-6 px-[2%] max-w-5xl mx-auto">
		<div class="hero-content">
			<div>
				<h2 class="sm:text-3xl text-2xl text-accent font-bold text-center">Финансово-хозяйственная деятельность</h2>
				<p class="py-6">Раздел будет приведен в соответствие с требованиями Приказа Федеральной службы по надзору в сфере образования и науки РФ от 14 августа 2020 г. N 831 "Об утверждении Требований к структуре официального сайта образовательной организации в информационно-телекоммуникационной сети "Интернет" и формату представления информации" после получения лицензии на осуществление образовательной деятельности.</p>
			</div>
		</div>
	</div>
	<div class="hero h-auto py-6 px-[2%] max-w-5xl mx-auto">
		<div class="hero-content">
			<div>
				<h2 class="sm:text-3xl text-2xl text-accent font-bold text-center">Вакантные места для приема (Перевода) обучающихся</h2>
				<p class="py-6">Раздел будет приведен в соответствие с требованиями Приказа Федеральной службы по надзору в сфере образования и науки РФ от 14 августа 2020 г. N 831 "Об утверждении Требований к структуре официального сайта образовательной организации в информационно-телекоммуникационной сети "Интернет" и формату представления информации" после получения лицензии на осуществление образовательной деятельности.</p>
			</div>
		</div>
	</div>
	<div class="hero h-auto py-6 px-[2%] max-w-5xl mx-auto">
		<div class="hero-content">
			<div>
				<h2 class="sm:text-3xl text-2xl text-accent font-bold text-center">Доступная среда</h2>
				<p class="py-6">Раздел будет приведен в соответствие с требованиями Приказа Федеральной службы по надзору в сфере образования и науки РФ от 14 августа 2020 г. N 831 "Об утверждении Требований к структуре официального сайта образовательной организации в информационно-телекоммуникационной сети "Интернет" и формату представления информации" после получения лицензии на осуществление образовательной деятельности.</p>
			</div>
		</div>
	</div>
	<div class="hero h-auto py-6 px-[2%] max-w-5xl mx-auto">
		<div class="hero-content">
			<div>
				<h2 class="sm:text-3xl text-2xl text-accent font-bold text-center">Международное сотрудничество</h2>
				<p class="py-6">Раздел будет приведен в соответствие с требованиями Приказа Федеральной службы по надзору в сфере образования и науки РФ от 14 августа 2020 г. N 831 "Об утверждении Требований к структуре официального сайта образовательной организации в информационно-телекоммуникационной сети "Интернет" и формату представления информации" после получения лицензии на осуществление образовательной деятельности.</p>
			</div>
		</div>
	</div>
{% endblock %}